target/

# The following files are generated/updated by Hilla
node_modules/
src/main/frontend/generated/
vite.generated.ts

# VS Code
.vscode/

# macOS
.DS_Store

# Contains secrets and user/env specific config that shouldn't go into the repository
config/local/